.img-carousel{
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: clamp(25rem,45vw,60rem);
}

.slick-next{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-next:focus{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-next:hover{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-prev{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-prev:hover{
    border-radius: 50%;
    background-color: #282c34;
}

.slick-prev:focus{
    border-radius: 50%;
    background-color: #282c34;
}

