.footer-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-links{
    color: rgb(22, 22, 22);
    text-decoration: none;
}

.footer-links:hover{
    text-decoration: underline;
}
